.txt-box-small {
    width: 20%;
  }
  
  .txt-box-medium {
    width: 48%;
  }
  
  .txt-box-large {
    width: 70%;
  }
  
  .form-control {
    min-width: 150px;
  }
  
  .general-input,
  .txt-box,
  .txt-box-small,
  .txt-box-large,
  .inner-flex-container {
    margin-bottom: 15px !important;
  }
  
  
  @media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        gap: 10px;
    }
  
    .inner-flex-container {
        flex-direction: column;
        justify-content: center;
    }
  
    .general-input,
    .txt-box-small,
    .txt-box-medium,
    .txt-box-large {
        width: 100%;
    }
  }